html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      #player {
        height: 25px;
        width: 40px;
        position: absolute;
        margin-left: -20px;
        margin-top: -12.5px;
        background-color: blue;
      }

      .rock {
        height:50px;
        width: 50px;
        position: absolute;
        margin-left: -25px;
        margin-top: -25px;
        background-color: green;
      }

      .player-laser {
        height: 15px;
        width: 5px;
        position: absolute;
        margin-top: -7.5px;
        margin-left: -2.5px;
        background-color: grey;
      }

      .alien {
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
        background-color: red;
      }

      #ufo-bonus {
        height: 20px;
        width: 30px;
        position: absolute:
        background-color: yellow;
        display: none;
      }
      
      #gameboard {
        background-color: black;
        height: 100%;
        width: 100%;
      }

      #score-tracker {

      }

      #life-tracker {
        
      }